<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users info</title>
</head>
<body>
<div class="container">
    <hr>
    <form action="#" th:action="@{/user-info}" th:object="${user}" method="POST">
        <h1>Hello! </h1>
        <input type="text" th:field="*{username}"
               placeholder="User Name" class="form-control mb-4 col-4">

        <input type="text" th:field="*{firstname}"
               placeholder="User Name" class="form-control mb-4 col-4">

        <input type="text" th:field="*{lastname}"
               placeholder="Last Name" class="form-control mb-4 col-4">

        <input type="text" th:field="*{email}"
               placeholder="Course Email" class="form-control mb-4 col-4">
        <input type="text" th:field="*{username}"
               placeholder="username" class="form-control mb-4 col-4">

<!--        <button type="submit" class="btn btn-info col-2"> Save User</button>-->
    </form>

    <hr>

    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
</body>
</html>